*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(#021b79 , transparent), url(Contact.jpg);
	background-size: cover;
	background-position: top-right;
	background-repeat: no-repeat;
	height: auto;
	font-family: 'oswald';
}

.container{
	max-width: 800px;
	height: auto;
	background: #fff;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 40px;
}

p{
	text-align: center;
	letter-spacing: 1px;
	font-size: 45px;
	margin-bottom: 20px;
	background: linear-gradient(to right, #0575e6, #021b79);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.input,
.msg .area{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	border: 2px solid #e9eaea;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	transition: all 0.5s;
}

.login .input{
	width: 48%;
	float: left;
	margin-right: 4%;
}

.login .input:last-child{
	margin-right: 0;
}

.msg .area{
	height: 250px;
}

.input:focus,
.msg .area:focus{
	border: 2px solid #0575e6;
}

.submit{
	widows: 100%;
	text-align: center;
}

.submit .btn{
	background: linear-gradient(to right, #0575e6, #021b79);
	padding: 12px 85px;
	font-size: 19px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
}

::-webkit-input-placeholder{
	font-family: 'oswald';
	color:#0575e6;